<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022367238361-7e0dmtvm7g81a25v8ng8316kkjg0rh7i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022367238361-7e0dmtvm7g81a25v8ng8316kkjg0rh7i</string>
	<key>API_KEY</key>
	<string>AIzaSyDt_R1Yl4M7JT5yhZJc948qw8yYCx1h5rM</string>
	<key>GCM_SENDER_ID</key>
	<string>1022367238361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.qcodelabs.nearme.mobile</string>
	<key>PROJECT_ID</key>
	<string>proche-383620</string>
	<key>STORAGE_BUCKET</key>
	<string>proche-383620.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022367238361:ios:e825fc5ab9f73baf77d6c8</string>
</dict>
</plist>